body{
    background-color: rgb(23, 23, 23);
}

fieldset{
    border-radius: 15px;
    border: solid 1px whitesmoke;
}
legend {
    color: whitesmoke;
}
label {
    color: whitesmoke;
}
input {
    background-color: transparent;
    border: solid 1px whitesmoke;
    color: whitesmoke;
}
textarea {
    color: whitesmoke;
    background-color: transparent;
}
form {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 60rem;
    margin: 0 auto;
}
.container {
    display: flex;
  flex-wrap: nowrap;
}

img {
    flex: 1;
    width: 7rem;
    height: 60rem;
}